.survey-header {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.question-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.survey-footer {
  background-color: white;
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.option-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.question-content {
  margin: 1rem auto;
}
.survey-footer span {
  font-size: 1.5rem;
  font-weight: bold;
}
.survey-footer button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.survey-footer p {
margin: 0px;
}

.blank-answer-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.blank-answer-1{
  display: flex;
  grid-area: 1 / 1 / 2 / 2;
}
.blank-answer-2{
  display: flex;
  grid-area: 1 / 2 / 2 / 3;
}
.blank-answer-3{
  display: flex;
  grid-area: 2 / 1 / 3 / 2;
}
.blank-answer-4{
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
}

@media screen and (max-width: 480px) {
  .blank-answer-box {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(4, 1fr); 
    gap: 1rem; 
    grid-template-areas: 
      "a1"
      "a2"
      "a3"
      "a4";
  }

  .blank-answer-1 { grid-area: a1; }
  .blank-answer-2 { grid-area: a2; }
  .blank-answer-3 { grid-area: a3; }
  .blank-answer-4 { grid-area: a4; }
}

.hideButton{
  display: none !important;
}