.layout {
  background-color: rgba(211, 211, 211, 0.159);
  padding: 5vh 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .layout {
    padding: 2rem;
  }
  .survey-footer {
    flex-direction: column;
    gap: 0.2rem !important;
  }
}

@media screen and (max-width: 768px) {
  .survey-footer {
    flex-direction: column !important;
    gap: 0.5rem !important;
  }
  .layout {
    padding: 5vh 10vw;
  }
}
